* {
  box-sizing: border-box;
  display: inline;
}
.block {
  width: 2;
  height: 200px;
  float: left;
}
.block-red {
  background-color: red;
}
.block-green {
  background-color: green;
}

.block-blue {
  background-color: blue;
}

.block-yellow {
  background-color: yellow;
}

.block-black {
  background-color: black;
}
