.block {
  margin: 50px;
  border: 2px solid;
}
.first {
  background-color: blue;
}
.second {
  background-color: yellow;
}
.third {
  background-color: green;
}
.fourth {
  padding: 50px;
  background-color: pink;
}
