* {
  box-sizing: border-box;
}
.header {
  z-index: 2;
  height: 40px;
  width: 100%;
  background-color: darkturquoise;
  position: fixed;
  display: inline-block;
}

.nav-list {
  position: relative;
  top: -5px;
}
.nav-item {
  list-style-type: none;
  float: left;
  margin-left: 16px;
  color: white;
}
.content {
  position: relative;
  z-index: 1;
  background-color: beige;
  height: 5000px;
}
.head {
  position: absolute;
  margin: 50%;
  width: 200px;
  height: 200px;
  background-color: aquamarine;
}

.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
}
.ear_right {
  position: absolute;
  left: -40px;
  top: -59px;
}
.ear_left {
  position: absolute;
  right: -40px;
  top: -59px;
}
.eye_right {
  position: absolute;
  top: 40%;
  left: 20%;
}
.eye_left {
  position: absolute;
  top: 40%;
  left: 60%;
}
.eye {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: grey;
}
