* {
  margin: 0;
}
.header {
  z-index: 2;
  height: 40px;
  width: 100%;
  background-color: darkturquoise;
  position: fixed;
}
.nav {
  height: 40px;
  clear: both;
}

.nav-item {
  float: left;
  margin-left: 16px;
  color: white;
  list-style-type: none;
  line-height: 40px;
}
.content {
  z-index: 1;
  background-color: beige;
  height: 5000px;
}
.head {
  position: absolute;
  left: calc(100% / 2 - 100px);
  top: calc(100% / 2 - 100px);
  width: 200px;
  height: 200px;
  background-color: aquamarine;
}

.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: absolute;
}
.ear_right {
  left: -40px;
  top: -59px;
}
.ear_left {
  right: -40px;
  top: -59px;
}
.eye_right {
  position: absolute;
  top: 40%;
  left: 20%;
}
.eye_left {
  position: absolute;
  top: 40%;
  left: 60%;
}
.eye {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: grey;
}
